@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

  * {
    box-sizing: border-box;
  }

  html,

  body {
    height: 100%;
    margin: 0;
  }

  /* Estilos do layout */
  header {
    display: flex; 
    justify-content: space-between; 
    background-color: #222222; /* Ou a cor que você definiu para o header */
    width: 100%; /* Ocupar a tela toda */
    align-items: center;
    height: 72px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.300);
    position: relative; 
    z-index: 10;
}
#sections{
  display: flex;
  gap: 60px;
  padding-left: 200px;
  font-family: 'Koulen', sans-serif;
  color: white;
}
  .header_button{
    display: flex;
    gap: 20px;                     /* Espaço entre o LOGIN e o SIGN UP */
    align-items: center;
    padding-right: 3.75rem;   
  }
  #header_logo{
     width: 7.5rem;   /* Proporcional aos 88px */
     padding-left: 1.875rem;
     padding-bottom: 10px;

  }
  #btn_sign_in {
    background-color: rgb(12 123 28); /* Verde neon da imagem */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 5.5rem;   /* Proporcional aos 88px */
    height: 1.875rem; /* Proporcional aos 22px */
    letter-spacing: 1px;
    font-size: 0.85rem; /* Fonte menor para caber na altura de 22px */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Koulen', sans-serif;
}

#btn_login {
    background-color: transparent; /* Verde neon da imagem */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(12 123 28) ;
    cursor: pointer;
    width: 5.5rem;   /* Proporcional aos 88px */
    height: 1.875rem; /* Proporcional aos 22px */
    letter-spacing: 1px;
    font-size: 0.85rem; /* Fonte menor para caber na altura de 22px */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Koulen', sans-serif;
}

  /* Container que engloba nav + main + aside */
.content {
    display: flex;
    min-height: 500px;
    /* altura da área de conteúdo */
    width: 100%;

}
main {
    width: 100%;
    background: linear-gradient(to bottom, #000000 50%, #343434 100%);
    min-height: calc(100svh - 4.5rem);
}
#image{
  justify-content: end;
  display: flex; 
}
#background_image{
  width: 62.5rem;
}
  footer {
    height: 60px;
    background: pink;
    padding: 8px;
    font-family: Arial, sans-serif;
}

/* TELAS LOG_IN E REGISTER */

#center_box{
  background-color: #222222;
  height: 31.25rem;
  width: 28.125rem ;
  border-radius: 20px;
}
